.idea
.vscode
.zed
.DS_Store
.env
vendor
build
*__debug*
*.back
dist
!/internal/web/dist
internal/web/dist/*
!/internal/web/dist/.gitkeep
target
*.sqlite*
.test
*.pos
/qaynaq
*_test.yaml
*.log
.claude/settings.local.json
.gstack/
